# Node
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
web-build/
.dist/
dist/
build/

# Caches
.cache/
.parcel-cache/
**/.DS_Store
Thumbs.db

# Environment / secrets
.env
.env.*

# IDE / Editor
.vscode/
.idea/
*.swp

# Testing / Coverage
coverage/

# OS junk
Icon?

# Logs
*.log

# Optional native projects (if ejected)
android/
ios/
